# Data science tools and ecosystem

## In this data science tools and ecosystems are summarized

#### Objectives:
- We have learned in this course that for different stages in data science we use a different tools.
- Every language we have studied in this course has a significant role in its domain.
- We have also learned that there are lot of stages through which data is being processed and in each and every stage different type of tools and software are use according to the need.
- Online Platforms which are really important in working with data which are shared so that different organization around can work as accordingly through those platform.

### some of the famous language data scientist use are:
1. python
2. R
3. Julia
4. Scala
5. Swift
6. SQL

### some of the most common libraries being used in data science 
1. Panda
2. Numpy
3. Pytorch
4. Tensorflow
5. Sci-Kit learn
6. Matplotlib
7. Scipy
8. Keras


|Data science tools|
|------------------|
|Rstudio           |
|Apache spark      |
|Tensor flow       |
|Apache hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
9*6

54

In [3]:
3+4

7

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
# In this code cell we will convert 200 minutes in to Hours
200/60
# The answer generated will be in hours

3.3333333333333335

## Author
Murtaza javed